<footer>
  <div class="row">
    <div class="col-lg-12 footer">
      &copy;{{ site.time | date: "%Y" }} {{site.company_name}}. All rights reserved. <br /> {% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y" }} <br />This
      document is proprietary and confidential. No part of this document may be disclosed in any manner <br />without the prior written consent of {{site.company_name}}.
      <p><img class="logo_footer" src="{{ " images/company_logo.png " }}" alt="Company logo" /></p>
    </div>
  </div>
</footer>